/* Import Bootstrap and other CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'aos/dist/aos.css';
@import 'glightbox/dist/css/glightbox.css';
@import 'swiper/css';
@import '../assets/css/main.css';

